<ion-header [translucent]="true" mode="ios">
  
  <ion-toolbar>
    <ion-title>
      Headers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">Headers</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-segment *ngIf="mode == 1" [value]="selectedCategory" (ionChange)="segmentChanged($event)" scrollable="true" mode="md" >
  <ion-segment-button *ngFor="let category of categories" [value]="category">
    <ion-label>{{category}}</ion-label>
  </ion-segment-button>
</ion-segment>

<app-articles *ngIf="mode == 1" [articles]="articles"></app-articles> 



<ion-segment *ngIf="mode == 0" [value]="selectedCategoryPanorama" (ionChange)="segmentChanged($event)" scrollable="true" mode="md" >
  <ion-segment-button *ngFor="let category of panoramaCategories" [value]="category.id">
    <ion-label>{{category.name}}</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-slides (ionSlideDidChange)="slideChanged()" pager="true" >
  <ion-slide *ngFor="let category of panoramaCategories" id="{{category.id}}">
  

    <ion-grid *ngIf="!hayPanoramas" fixed>
    <ion-col > 
      <ion-card>
        <ion-title class="ion-padding-horizontal ion-margin-bottom">
          No hay Panoramas en esta categoia
        </ion-title>
        <ion-img src="assets/no-disponible.jpg"></ion-img>
      </ion-card>
    </ion-col>
  </ion-grid>
   
  <ion-grid *ngIf="cargando" fixed>
    <ion-col > 
      <ion-spinner name="bubbles"></ion-spinner>
      <ion-label >Cargando...</ion-label>
    </ion-col>
  </ion-grid>
      
    <app-panoramas *ngIf="mode == 0" [panoramas]="panoramas" ></app-panoramas> 

</ion-slide>
</ion-slides>



 <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>




</ion-content>
