<ion-header [translucent]="true" mode="ios">
  
  <ion-toolbar>
    <ion-title>
      Headers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">Headers</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-segment *ngIf="mode == 1" [value]="selectedCategory" (ionChange)="segmentChanged($event)" scrollable="true" mode="md" >
  <ion-segment-button *ngFor="let category of categories" [value]="category">
    <ion-label>{{category}}</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-segment *ngIf="mode == 0" [value]="selectedCategoryPanorama" (ionChange)="segmentChanged($event)" scrollable="true" mode="md" >
  <ion-segment-button *ngFor="let category of panoramaCategories" [value]="category.id">
    <ion-label>{{category.name}}</ion-label>
  </ion-segment-button>
</ion-segment>

 <app-articles *ngIf="mode == 1" [articles]="articles"></app-articles> 

  <app-panoramas *ngIf="mode == 0" [panoramas]="panoramas"></app-panoramas> 



 <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>



</ion-content>
