<ion-header [translucent]="true" mode="ios">
  
  <ion-toolbar>
    <ion-title>
      AIEP'S NEWS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">AIEP'S NEWS</ion-title>
    </ion-toolbar>
  </ion-header>

   <app-articles *ngIf="mode == 1" [articles]="articles"></app-articles> 

  <app-panoramas *ngIf="mode == 0" [panoramas]="panoramas"></app-panoramas> 
  
  <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

 

</ion-content>